
.site-navbar .site-logo a img {
    width: 110px;
}

.site-section-cover, .site-section-cover .container > .row {
        min-height: 500px;
}

/****************************PROFILE CARD*******************/

.color.blue {font-weight:600;color:#1787d6;background:none!important}
.color.grey {font-weight:600;color:#b5b5b5;background:none!important}
.color.green {font-weight:600;color:#509b07;background:none!important}
.color.orange {font-weight:600;color:#d18117;background:none!important}
.color.yellow {font-weight:600;color:#c8a208;background:none!important}
.color.red {font-weight:600;color:#d30100;background:none!important}
.color.purple {font-weight:600;color:#9a0fb8;background:none!important}
.color.pink {font-weight:600;color:#b4039d;background:none!important}

.description {font-weight:300;font-size:20px;margin-bottom:30px;width:100%;text-align:center;color:#646464}

.category-sec table, .category-sec .content {border-collapse:collapse;float:left;clear:both;width:100%;margin-bottom:50px;background:#fff;border:10px solid #eee;
box-shadow:0px 1px 8px rgba(0, 0, 0, 0.3);-moz-box-shadow:0px 1px 8px rgba(0, 0, 0, 0.3);-webkit-box-shadow:0px 1px 8px rgba(0, 0, 0, 0.3)}

.category-sec td, .category-secth {padding:40px 20px 40px 20px;border:1px dotted #ccc;font-size:14px;text-align:center;color:#aaa}

.center {margin:0 auto;width:990px}

.category-sec ul {margin:0px;padding:0px;list-style:none;width:330px;float:left}
.category-sec li {display:inline-block;width:100%;height:200px;padding:40px 0px 40px 0px;position:relative;overflow:hidden;border-left:1px dashed #777777}
.category-sec li.li-title {display:inline-block;width:100%;height:auto;padding:0px 0px 0px 0px;position:relative;overflow:visible;border:0px}
.category-sec li.li-title h2, li.li-title h3 {text-align:left}

/* DOCUMENTATION CSS */

.content-in {background:#fff;padding:20px;font-size:13px}

.content-in table {border-collapse:collapse;float:left;clear:both;width:100%;margin:0px;background:#fff;border:1px solid #fff;
box-shadow:none;-moz-box-shadow:none;-webkit-box-shadow:none}

.content-in td {padding:5px;border:1px dotted #ccc;font-size:13px;text-align:center;color:#000}

.category-sec td.light {background:#d9d9d9 url("icons/background.jpg") repeat-y center top;padding:20px}
.category-sec td.dark {background:#060606 url("icons/background-dark.gif") repeat-y center top;padding:20px}
.category-sec td.transparent {background:#d9d9d9 url("icons/background-transparent.jpg") repeat-y center top fixed;padding:20px}

.category-sec code {font-family:"Courier New", monospace, Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco;color:#27BB0A;font-size:12px}

.category-sec pre code {
font-family:"Courier New", monospace, Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco;
display:block;
clear:both;
background:#000;
padding:20px 0px 20px 0px;
color:#fff;
font-size:12px;
overflow:auto;
line-height:16px;
margin:0px 0px 0px 0px;
white-space:pre;
width:100%
}

.comp td {padding:5px}
.yes {display:block;background:url("icons/yes.png") no-repeat center center}
.no {display:block;background:url("icons/no.png") no-repeat center center}
.att {display:block;background:url("icons/att.png") no-repeat center center}
.sep {width:100%;text-align:center}
.sep .image-hover {margin:20px 20px 20px 0px}

/****** image hover ******/

.image-hover * {-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}
.image-hover {position:relative;width:100%;height:300px;display:inline-block;overflow:hidden;}
.image-hover a {text-decoration:none}

.image-hover img {margin:-100px 0px 0px -100px}

/*** effect - image opacity ***/

.img-opacity img {position:absolute;top:0px;right:0px;bottom:0px;left:0px}

.img-opacity .img-1 {opacity:1}
.img-opacity .img-2 {opacity:0}
.img-opacity:hover .img-1 {opacity:0}
.img-opacity:hover .img-2 {opacity:1}

.img-opacity img
{
transition:all .6s ease-in-out;
-webkit-transition:all .6s ease-in-out;
-moz-transition:all .6s ease-in-out;
-ms-transition:all .6s ease-in-out;
-o-transition:all .6s ease-in-out;
}

.img-opacity:hover img
{
transition:all 1.2s ease-in-out;
-webkit-transition:all 1.2s ease-in-out;
-moz-transition:all 1.2s ease-in-out;
-ms-transition:all 1.2s ease-in-out;
-o-transition:all 1.2s ease-in-out;
}

/*** effect round button 2 ***/

.button-effect-2.img-button-hover a {margin-top:0px}
.button-effect-2.img-button-hover:hover a {margin-top:12%}

/*** effect round button 3 ***/

.button-effect-3.img-button-hover a {width:100%;height:100%;margin-top:0px}
.button-effect-3.img-button-hover:hover a {margin-top:12%;width:100px;height:100px;-moz-border-radius:50px;-webkit-border-radius:50px;-o-border-radius:50px;border-radius:50px}

/*** effect round button 4 ***/

.button-effect-4.img-button-hover a {margin-top:0px}
.button-effect-4.img-button-hover:hover a {margin-top:12%}

.button-effect-4.img-button-hover:hover a:hover {width:100%;margin-left:0px;margin-right:0px;-moz-border-radius:0px;-webkit-border-radius:0px;-o-border-radius:0px;border-radius:0px}


.grey-background{
    background: #efefef;
}

.category-text {
    background: #fff;
    border: 10px solid #fff;
    box-shadow: 0 1rem 3rem -1rem hsla(0,0%,4%,.2);
    -moz-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
    margin: 20px 20px 20px 0px;
}
/************************* PROFILE CARD ********************/


/**************************MENU********************************/
@media only screen and (max-width: 767px) {
  #navbarTogglerDemo02 {
    position: fixed;
    top: 0;
    left: -8px;
    z-index: 99;
    width: 280px;
    height: 100%;
    background-color: #fff;
    overflow: auto;
    box-shadow: 0px 1px 25px #3c3c3c;
  }
  .menu-overlay {
    display: none;
    background-color: #000;
    bottom: 0;
    left: 16px;
    opacity: 0.5;
    filter: alpha(opacity=50);
    /* IE7 & 8 */
    position: fixed;
    right: 0;
    top: 0;
    z-index: 49;
  }

  .navbar-light .navbar-nav .nav-link {
   /* border-bottom: 1px solid #28a745;} */
}
/* menu items end here ***************/
img {width:100%;}
.bg-1 {
 background-image: url("https://images.pexels.com/photos/693776/pexels-photo-693776.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
 background-color: #cccccc;
}

/************************* END MENU *********************************/

/***************************** NEWS *****************************************/
.stepz li:hover {
background-color: #eee;   
}

.stepz {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.stepz li {
  counter-increment: step-counter;
  margin-bottom: 10px;
  list-style-type:none;
}

.stepz li::before {
  content: counter(step-counter);
  margin-right: 5px;
  font-size: 80%;
  background-color: rgb(0,200,200);
  color: white;
  font-weight: bold;
  padding: 3px 8px;
  border-radius: 3px;
}
/**************************** END NEWS ************************************/